.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.card-container {
  height: 100%;
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 15px;
} 